html {
    font-size: 0.8vw;
    background-color: #ded3cb;
}

header {
    background: linear-gradient(to bottom, #dad5bc, #c7b49c);
    background-size: cover;
    font-size: 2rem;
    padding: 5%;
    font-family: Verdana, sans-serif;
    line-height: 1.25;
}

header h1 {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
    padding: 5%;
    width: 60%;
    margin: 0 auto;
    border: 5px solid #96692c;
    border-radius: 20px;
    color: #60523c;
}

header h2 {
    text-align: center;
    margin: 5% auto 0 auto;
    color: #41392a;
    width: 70%;
}

section.main {
    font-size: 1.5rem;
    font-family: Verdana, sans-serif;
    margin: 5% auto;
    width: 70%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.25em;
}

div.name-input {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    margin-left: 10%;
    font-size: 0.75em;
    border: 2px solid #60523c;
    border-radius: 5px;
    padding: 1vh 1vw;
    background: none;
}

input:focus {
    border: 2px solid #4c7ef3;
    background-color: rgba(180, 180, 180, 0.3);
    box-shadow: 2px 2px 2px #979797;
}

button {
    margin: 3% auto;
    padding: 2%;
    font-size: 2rem;
    background: none;
    border: 2px solid #60523c;
    border-radius: 10px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(150, 150, 150, 0.2);
}

button:active {
    transform: scale(95%);
}

footer {
    position: fixed;
    bottom: 0;
    background-color: #41392a;
    opacity: 0.8;
    width: 100%;
    height: 5%;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

p.copyright {
    text-align: center;
    font-size: 1.25rem;
}

div#result:empty {
    display: none;
}

div#result {
    width: 60%;
    background-color: #a89f92;
    border: 2px solid #694a27;
    border-radius: 10px;
    padding: 2%;
    margin: 0 auto;
}

h3#result-header {
    color: #6b5535;
    font-size: 2rem;
    text-align: center;
    border: 1px solid #5d4a1a;
    border-radius: 5px;
    padding: 2% 0;
    margin-bottom: 5%;
}

p.output-line {
    color: #3a2e1d;
    margin-left: 5%;
    line-height: 1.25;
    font-size: 1.5rem;
}
